<%= form_for(@user) do |f| %>
	<div class="login">
	<ul class="login">
		<li>
			Name: <%= f.text_field :name %>
		</li>
		<li>
			Email: <%= f.text_field :email %>
		</li>
		<li>
			Password: <%= f.password_field :password %>
		</li>
		<li>
			Password Confirmation: <%= f.password_field :password_confirmation %>
		</li>
	</ul>
		<div class="submit-button">
			<%= submit_tag "Submit" %>
		</div>
	</div>
<% end %>
